.header {
    max-height: 60px;
    height: 100%;
    display: flex;
    background-color: whitesmoke;
    border-bottom: 1px solid #eee ;
    box-shadow: 1px 2px 5px #eee;
    z-index: 3;
}

.title{
    font-weight: 750;
    font-size: 36px;
    flex:1;
    display: flex;
    justify-content: start;
    padding-left: 5%;
    align-items: center;
}
.profile-header {
    display: flex;
    flex:1;
    padding-inline: 15px;
    align-items: center;
}
.profile-icons {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    max-width: max-content;
}
.profile-names {
    flex:1;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-left: 3%;
}
.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-self: center;
    padding-left: 5px;
}

@media only screen and (max-width: 768px) {
    .header {
        max-height: 50px;
    }
    .title{
        font-size: 30px;
    }
    .profile-icons {
        width: 40px;
        height: 40px;
    }
    .profile-names {
        font-size: 20px;
    }
    .logo {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        max-height: 40px;
    }
    
    .title{
        font-size: 30px;
    }
    .profile-icons {
        width: 35px;
        height: 35px;
    }
    .profile-names {
        font-size: 18px;
    }
    .logo {
        width: 30px;
        height: 30px;
    }
}